#include <stdio.h>
#include <stdlib.h>

/* Solicitando a media do aluno e calculando. Loop para fazer varias vezes. */

int main(void) {
	
	float  n1, n2, media;
	
	printf("Digite a sua primeira nota: ");
	scanf("%f", &n1);
	printf("Digite a sua segunda nota: ");
	scanf("%f", &n2);
	
	media= (n1 + n2)/2 ;
	
	printf("A sua media eh: %.2f" , media);
	
	if (media >=7){
		
    printf("\nAprovado, media %.1f ", media);
		
	}
	else if((media >=4 ) && (media<6)){
  
	 	printf("\n Recuperacao, media %.1f ", media);
}
	if (media <4){
	
    printf("\nReprovado, media %.1f ", media);
    
		
	}
printf("\n\n\n\n");   printf("________________________________________________\n");
  printf("\n\n\n");
  main();
	return 0;
}
